@layer spacing{

  .horizontal-center{ margin-inline: auto;}

  .float-left{ float: left; }

  .space-b-xs{ padding-block: calc(var(--spacer) * 0.5); }
  .space-b-s{ padding-block: calc(var(--spacer) * 1); }
  .space-b-m{ padding-block: calc(var(--spacer) * 2); }
  .space-b-l{ padding-block: calc(var(--spacer) * 3); }
  .space-b-xl{ padding-block: calc(var(--spacer) * 4); }
  .space-b-xxl{ padding-block: calc(var(--spacer) * 5); }

  .space-i-xs{ padding-inline: calc(var(--spacer) * 0.5); }
  .space-i-s{ padding-inline: calc(var(--spacer) * 1); }
  .space-i-m{ padding-inline: calc(var(--spacer) * 2); }
  .space-i-l{ padding-inline: calc(var(--spacer) * 3); }
  .space-i-xl{ padding-inline: calc(var(--spacer) * 4); }
  .space-i-xxl{ padding-inline: calc(var(--spacer) * 5); }
  .space-i-xxl{ padding-inline: calc(var(--spacer) * 5); }

  .margin-b-s{ margin-block: calc(var(--spacer) * 1); }
  .margin-b-m{ margin-block: calc(var(--spacer) * 2); } */

  .space-b-xxl{ padding-block: calc(var(--spacer) * 5);}
}