@layer main {

  html {
    font-family: var(--font-family); 
    line-height: var(--lh-body);
    height: 100%;
    margin: 0;
  }
  
a {
  all: unset;
  display: inline;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-family);
}

h1{

  font-family: var(--font-family); 
  font-size: var( --fs-xxl);

}

  /* seudo classes*/
  a:focus-visible {
    color: var(--clr-primary);
  }

  img {
    &[data-size="small"] {
      width: 25%;
    }

    &[data-size="medium"] {
      width: 50%;
    }

    &[data-size="large"] {
      width: 75%;
    }

    &[data-size="xlarge"] {
      width: 85%;
    }

    &[data-size="max"] {
      width: 95%;
    }
  }

  p {
    font-family: var(--font-family);
    font-weight: 300;
  }

  h2{
    font-family: var(--font-family);
    color: var(--clr-white);
    font-size: var(--fs-xxl);
  }

  h3{
    font-family: var(--font-family);
    color: var(--clr-white);
    font-size: var(--fs-xl);
  }

  body {
    background-image: linear-gradient(var(--clr-darkteal) 60%,
    var(--clr-teal));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
  }

footer {
  color: var(--clr-white);

}



}