
@layer cards{

.modal { 

  width:  min(var(--modal-max-w), 92vw);
  height: min(var(--modal-max-h), 92vh);            
  border-radius: 16px;
  border: 1px solid var(--clr-darkblue);
  display: flex;
  flex-direction: column;
  overflow: hidden;                 
  box-shadow: 0 15px 60px var(--clr-blackbox);
}


.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--modal-pad) calc(var(--modal-pad) + 4px);
  border-bottom: 1px solid var(--clr-darkblue);
  background: var(--clr-white);              
  position: sticky;
  top: 0;
}

.modal-header h2 {
  margin: 0;
  font-size: 18px;
  letter-spacing: .4px;
}

.modal-body {
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0;                     
  overflow: hidden;                  
}


@media (max-height: 700px){
  :root{
    --modal-max-h: 620px;
  }
}

@media (max-width: 1200px){
  :root{
    --modal-max-w: 1000px;
  }
}

.carousel {
/*margin: 100px auto;*/

  width: 80%;
  height: 500px;
  display: flex;
  overflow: hidden; 
  position: relative;
   margin: -180px auto 0;


}

.card-info {
  position: center; 
  margin: -170px;
}


.grupo{
 display: flex;
  align-items: center;
  /*justify-content: center;*/
  gap: 2em;
  /*flex-shrink: 0;*/
  animation: spin 13s infinite linear;
}
.carousel::-webkit-scrollbar{
  display: none;
}

.card {
 width: 100px;
  min-height: 200px; 
  height: auto;
  padding: 1cm;

  border-radius: 30px; 
  text-align: center;
  align-content: center;
  background-color: var(--clr-blackbox);
  border-radius: 30px;
  box-shadow: 0 6px 0 var(--clr-blackbox);
  color: var(--clr-white);
  flex-shrink: 0; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.card-img img {
  width: 100%;
  height: 220px;
  transform: translateY(-200px); 
  /*display: block;*/


}




@keyframes spin {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}

@media (max-width: 400px) {
  .card {
    width: 220px;
    height: 200px;
  }


}

.card h2{
  transform: translateY(-60px); 
}

.card p {
  margin: 0;
  font-size: 0.9em;
  display: none; 
}

}
/* 10" */

@media (min-width: 700px) {
  .card {
    width: 220px;
    height: 200px;
  }

  .card-img {
    max-width: 240px;
  }


}

/* 1024px */
@media (min-width: 1000px) {
  .card {
    width: 250px;
    height: 220px;
  }

  .card-img {
    max-width: 280px;
  }
}


/* 1044px */
@media (min-width: 1000px) {
  .card {
    width: 300px;
    height: 260px;
  }

  .card-img {
    max-width: 320px;
  }
}







