@layer decoration {
  .bg-game {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .bg-game::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../img/fondoGame.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: none;
  }
}
